body {
  font-family: "Roboto";
}
span {
  color: #2196f3;
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
/* reset end */

/* header */

.container {
  width: 1200px;
}

.logo-first {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  margin-left: 215px;
  margin-right: 93px;
  color: #000000;
  text-decoration: none;
}

.container-header{
 display: flex;
 align-items: center;
}

.second-f {
  margin-right: auto;
}

.menu-list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: #212121;
  text-decoration: none;
}

.menu-general {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  gap: 50px; 
  list-style: none;
}

.menu-list:hover,
.menu-list:focus {
  color: #2196f3;
}

.mail-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-decoration: none;
  letter-spacing: 0.02em;

  color: #757575;
}

.mail-header:hover {
  color: #2196f3;
}

.telephone-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-decoration: none;
  letter-spacing: 0.02em;

  color: #757575;
}

.telephone-header:hover {
  color: #2196f3;
}

.header-group {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 50px;
}


/* header */

.section-f {
  display: flex;
  align-items: center;
}

.main-title {
  font-family: "Roboto";
  font-style: normal;
  width: 1200px;
  height: 600px;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background-color: #2f303a;
  color: #ffffff;
}

.btn-first {
  color: #ffffff;
  background-color: #2196f3;
}

/* explain */
.text-flex {
  display: flex;
  align-items: center;
}

.text-f {
  display: flex;
  margin-top: 94px;
  align-items: flex-start
}
 

.text {
  list-style: none;
}
.title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  list-style: none;
  color: #212121;
}

.title-flex {
  padding-right: 30px;
  
}

.explain {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  list-style: none;
  color: #757575;
}

.explain-flex {
padding-bottom: 10px;
}
/* explain */

/* Three pictures */

.three-pictures-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.title-center {
  display: flex;
align-items: center;
display: block;
  margin-left: auto;
  margin-right: auto

}


.three-pictures {
  display: flex;
  list-style: none;
}

.three-pictures-flex {
  display: flex;
  gap: 30px;
  padding-left: 0;
}
/* Three pictures */

/* our team */
.our-team-title {
    background: #f5f5f5;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.div-flex {
  display: flex;
margin-top: 94px;
}
  

.list-flex {
  display: flex;
}

.li-flex {
  display: flex;
  margin-top: 50px;
  align-items: center;
}

.our-team-list {
  background: #f5f5f5;
  list-style: none;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.position {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}
/* our team */

/* footer */
.geocontakts {
  background-color: #2f303a;
}
span {
  color: #2196f3;
}

.logo-second {
  background-color: #2f303a;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}

.mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.mail:hover {
  color: #2196f3;
}

.telephone {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.telephone:hover {
  color: #2196f3;
}

.geo {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
}

.geo:hover {
  color: #2196f3;
}
/* footer */

/* portfolio */
.menu-list-port {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}

.menu-list-port:hover,
.menu-list-port:focus {
  color: #2196f3;
}

.mail-portfolio {
  font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-decoration: none;
    letter-spacing: 0.02em;
    color: #757575;
}

.mail-portfolio:hover {
  color: #2196f3;
}

.telephone-portfolio {
  font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-decoration: none;
    letter-spacing: 0.02em;
    color: #757575;
}

.telephone-portfolio:hover {
  color: #2196f3;
}

.logo-first {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.name-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.name-btn:hover,
.name-btn:focus {
  background-color: #2196f3;
}
/* portfolio */

/* main image */
.nine-img {
  list-style: none;
}

.img-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: #212121;
}

.theme {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: #757575;
}
/* main image */
